{% extends "base.html" %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ static('champions_league/style.css') }}">
{% endblock %}

{% block content %}
{% set team_name_field = 'name_' ~ current_language %}
{% set HOME_TEAM_TEXT = _('Home Team') %}
{% set AWAY_TEAM_TEXT = _('Away Team') %}
<div class="game-results">
    <h2>{{ _('Last matches') }}</h2>
    <table class="results-table">
        <thead>
            <tr>
                <th colspan="2">{{ HOME_TEAM_TEXT }}</th>
                <th>{{ _('Score') }}</th>
                <th colspan="2">{{ AWAY_TEAM_TEXT }}</th>
            </tr>
        </thead>
        <tbody>
            {% for game in last_games %}
            <tr>
                {% set l_home_team = game.home_team[team_name_field] or game.home_team.name %}
                {% set l_away_team = game.away_team[team_name_field] or game.away_team.name %}
                <td class="home-team">{{ l_home_team }}</td>
                {% if game.home_team.logo %}
                    <td class="home-team-logo"><img src="{{ game.home_team.logo.url }}"></td>
                {% else %}
                    <td class="home-team-logo"><img src="{{ media_url }}default_team_logo.png"></td>
                {% endif %}
                <td class="score">
                    {{ game.goals_home }} : {{ game.goals_away }}
                </td>
                {% if game.away_team.logo %}
                    <td class="away-team-logo"><img src="{{ game.away_team.logo.url }}"></td>
                {% else %}
                    <td class="away-team-logo"><img src="{{ media_url }}default_team_logo.png"></td>
                {% endif %}
                <td class="away-team">{{ l_away_team }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="game-results">
    <h2>{{ _('Next matches') }}</h2>
    <table class="results-table">
        <thead>
            <tr>
                <th colspan="2">{{ HOME_TEAM_TEXT }}</th>
                <th>{{ _('Date') }}</th>
                <th colspan="2">{{ AWAY_TEAM_TEXT }}</th>
            </tr>
        </thead>
        <tbody>
            {% for game in next_games %}
            {% set n_home_team = game.home_team[team_name_field] or game.home_team.name %}
            {% set n_away_team = game.away_team[team_name_field] or game.away_team.name %}
            <tr>
                <td class="home-team">{{ n_home_team }}</td>
                {% if game.home_team.logo %}
                    <td class="home-team-logo"><img src="{{ game.home_team.logo.url }}" alt="{{ game.home_team.name }}"></td>
                {% else %}
                    <td class="home-team-logo"><img src="{{ media_url }}default_team_logo.png" alt="{{ game.home_team.name }}"></td>
                {% endif %}
                <td class="score">
                    {{ game.game_date.strftime("%H:%M %d.%m.%Y") }}
                </td>
                {% if game.away_team.logo %}
                    <td class="away-team-logo"><img src="{{ game.away_team.logo.url }}" alt="{{ game.away_team.name }}"></td>
                {% else %}
                    <td class="away-team-logo"><img src="{{ media_url }}default_team_logo.png" alt="{{ game.away_team.name }}"></td>
                {% endif %}
                <td class="away-team">{{ n_away_team }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
