<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UEFA{% endblock %}</title>
    {% block extra_styles %}{% endblock %}
    {% set current_language = get_current_language(request) %}
</head>
<body>
    <header>
        <h1>UEFA Champions League</h1>
            <select name="language" id="languageSelect">
                {% for lang_code, lang_name in get_languages() %}
                    <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                        {{ lang_name }}
                    </option>
                {% endfor %}
            </select>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const languageSelect = document.getElementById("languageSelect");
            let currentLanguage = languageSelect.value;

            languageSelect.addEventListener("change", function () {
                const newLanguage = this.value;

                if (newLanguage !== currentLanguage) {
                    document.cookie = `language=${newLanguage}; path=/; max-age=31536000`;
                    location.reload();
                }
            });
        });
    </script>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - {{ get_current_year() }}</p>
    </footer>
</body>
</html>
