.game-results {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.game-results h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.results-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 16px;
}

.results-table td {
    font-size: 14px;
}

.results-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.home-team, .away-team {
    font-weight: bold;
}

.score {
    font-size: 16px;
    color: #333;
}

.home-team-logo img,
.away-team-logo img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
